.friendlist {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 30px;
  /* outline: 2px solid tomato; */
}

.item {
  display: flex;
  align-items: center;
  width: 600px;
  padding: 20px 40px;
  margin-bottom: 30px;
  border: 2px solid rgb(219, 219, 219);
  background-color: #f3f3f3;
  /* outline: 2px solid green; */
}
.status {
  /* display: block; */
  margin-right: 40px;

  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  /* outline: 2px solid red; */
}
.statusGreen {
  background-color: green;
}
.statusRed {
  background-color: red;
}

.avatar {
  display: block;
  margin-right: 40px;
  width: 220px;
  /* outline: 2px solid yellow; */
}
.name {
  display: block;
  margin: 0;
  font-size: 60px;
  font-weight: bold;
  /* outline: 2px solid purple; */
}
