.transaction_history {
  width: 1800px;
  table-layout: fixed;
  border-right: 1px solid #e6e6e6;
}

.transaction_history th {
  text-transform: uppercase;
  background-color: rgb(144, 216, 250);
  color: white;
  border-left: 1px solid #ffffff;
  font-size: 40px;
}

.transaction_history th,
.transaction_history td {
  width: 600px;
  text-align: center;
}
.transaction_history td {
  border-left: 1px solid #e6e6e6;
}
.transaction_history tr {
  height: 80px;
  text-transform: capitalize;
  color: rgb(77, 77, 77);
}

.evenRow {
  background-color: rgb(255, 255, 255);
}
.oddRow {
  background-color: #eeeeee;
}
